/* CSS 파일 최상단 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #666;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100%;
    height: 866px;
    background: url(../images/sub1_main_bg.jpg);
}

.header_box {
    width: 1200px;
    height: 866px;
    margin: 0 auto;
    position: relative;
}

.header_top {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.gnb {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.logo {
    padding-top: 20px;
}

.gnb a {
    display: block;
    padding: 20px;
}

.header_txt {
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    transform: translate(0, -50%);
}

.header_txt p:nth-child(1) {
    font-size: 22px;
    font-weight: 400;
}

.header_txt p:nth-child(2) {
    width: 240px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.apply_box {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.apply_txt {
    height: 284px;
}

.apply_box p {
    padding-top: 40px;
}

#content_2 {
    background: #f7f7f7;
}

.soho_box {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.soho_box p {
    padding-top: 30px;
}

.soho_box p:nth-child(4) {
    font-weight: bold;
}

.soho_box h2 {
    margin-top: 80px;
}

.simple_box {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.simple_box h2 {
    padding-bottom: 50px;
}

.simple_box ul {
    display: flex;
    justify-content: space-between;
}

.simple_box li {
    padding-top: 80px;
    text-align: center;
}

.simple_box li:nth-child(1) {
    background: url(../images/sub1_icon1.png) no-repeat top center;
}

.simple_box li:nth-child(2) {
    background: url(../images/sub1_icon2.png) no-repeat top center;
}

.simple_box li:nth-child(3) {
    background: url(../images/sub1_icon3.png) no-repeat top center;
}

.simple_box li p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

#content_4 {
    background: #ffd900;
}

.qr_box {
    width: 840px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.qr_box p{
  padding: 30px 0;
}

.img_box img{
    border: 20px solid #fff;
    border-radius: 30px;
}

.link_box{
    width: 840px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.link_box h2{
    padding: 30px 0;
}

.link_box a{
    display: inline-block;
    font-weight: bold;
    background-color: #ffd900;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 7px 7px 0px #a0a0a0;
}

#footer{
    background: #111;
}

.footer_box{
    width: 840px;
    margin: 0 auto;
    padding: 30px 0;
}

.footer_box ul{
    display: flex;
    font-size:  16px;
}

.footer_box ul a{
    display: block;
    padding: 10px 20px;
}

.footer_box p{
    font-size: 14px;
    padding-left: 14px;
}